<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>[微笑]</string>
		<key>image</key>
		<string>e_1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[撇嘴]</string>
		<key>image</key>
		<string>e_2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[色]</string>
		<key>image</key>
		<string>e_3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[发呆]</string>
		<key>image</key>
		<string>e_4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[得意]</string>
		<key>image</key>
		<string>e_5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[流泪]</string>
		<key>image</key>
		<string>e_6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[害羞]</string>
		<key>image</key>
		<string>e_7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[闭嘴]</string>
		<key>image</key>
		<string>e_8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[睡]</string>
		<key>image</key>
		<string>e_9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[大哭]</string>
		<key>image</key>
		<string>e_10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[尴尬]</string>
		<key>image</key>
		<string>e_11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[发怒]</string>
		<key>image</key>
		<string>e_12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[调皮]</string>
		<key>image</key>
		<string>e_13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[呲牙]</string>
		<key>image</key>
		<string>e_14</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[惊讶]</string>
		<key>image</key>
		<string>e_15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[难过]</string>
		<key>image</key>
		<string>e_16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[酷]</string>
		<key>image</key>
		<string>e_17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[冷汗]</string>
		<key>image</key>
		<string>e_18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[抓狂]</string>
		<key>image</key>
		<string>e_19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[吐]</string>
		<key>image</key>
		<string>e_20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[偷笑]</string>
		<key>image</key>
		<string>e_21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[可爱]</string>
		<key>image</key>
		<string>e_22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[白眼]</string>
		<key>image</key>
		<string>e_23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[傲慢]</string>
		<key>image</key>
		<string>e_24</string>
	</dict>
</array>
</plist>
