<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>[安慰]</string>
		<key>image</key>
		<string>emoji_anwei</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[害羞]</string>
		<key>image</key>
		<string>emoji_haixiu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[大哭]</string>
		<key>image</key>
		<string>emoji_daku</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[憧憬]</string>
		<key>image</key>
		<string>emoji_chongjing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[嗨皮]</string>
		<key>image</key>
		<string>emoji_haipi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[眯眼]</string>
		<key>image</key>
		<string>emoji_miyan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[生气]</string>
		<key>image</key>
		<string>emoji_shengqi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[爱爱]</string>
		<key>image</key>
		<string>emoji_aiai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[晕]</string>
		<key>image</key>
		<string>emoji_yun</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[抱抱]</string>
		<key>image</key>
		<string>emoji_baobao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[卖萌]</string>
		<key>image</key>
		<string>emoji_maimeng</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[叹气]</string>
		<key>image</key>
		<string>emoji_tanqi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[高兴]</string>
		<key>image</key>
		<string>emoji_gaoxing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[惊呆]</string>
		<key>image</key>
		<string>emoji_jingdai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[酷]</string>
		<key>image</key>
		<string>emoji_ku</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[犯二]</string>
		<key>image</key>
		<string>emoji_faner</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[嘟嘴]</string>
		<key>image</key>
		<string>emoji_duzui</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[抓狂]</string>
		<key>image</key>
		<string>emoji_zhuakuang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[疑问]</string>
		<key>image</key>
		<string>emoji_yiwen</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[再见]</string>
		<key>image</key>
		<string>emoji_zaijian</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[贱兮兮]</string>
		<key>image</key>
		<string>emoji_jianxixi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[臭臭]</string>
		<key>image</key>
		<string>emoji_chouchou</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[反省]</string>
		<key>image</key>
		<string>emoji_fanxing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[坏笑]</string>
		<key>image</key>
		<string>emoji_huaixiao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[鄙视]</string>
		<key>image</key>
		<string>emoji_bishi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[点赞]</string>
		<key>image</key>
		<string>emoji_dianzan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[花心]</string>
		<key>image</key>
		<string>emoji_huaxin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[萌萌]</string>
		<key>image</key>
		<string>emoji_mengmeng</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[吐]</string>
		<key>image</key>
		<string>emoji_tu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[挖鼻]</string>
		<key>image</key>
		<string>emoji_wabi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[乖]</string>
		<key>image</key>
		<string>emoji_guai</string>
	</dict>
	<dict>
		<key>name</key>
		<string>[滴汗]</string>
		<key>image</key>
		<string>emoji_dihan</string>
	</dict>
</array>
</plist>
